DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^our-menu/?$ / [L,R=301]
  RewriteRule ^product/pizza-meat-feast/?$ / [L,R=301]
  RewriteRule ^product-tag/pizza/?$ / [L,R=301]
  RewriteRule ^projects/shelf-of-arts/?$ /archive/ [L,R=301]
  RewriteRule ^blog/?$ /archive/ [L,R=301]
  RewriteRule ^hello-world/?$ /archive/ [L,R=301]
  RewriteRule ^a-place-of-silence/?$ /archive/ [L,R=301]

  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json image/svg+xml
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType text/html "access plus 1 hour"
</IfModule>
